*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body, html, section {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.text{
  width: 500px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 68%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.typing .build {
  color: rgb(14, 13, 13);
  font-size: 3em;
  font-family: 'Libre Baskerville', serif;
  position: absolute;
top: 30%;
left: 50%;
-ms-transform: translate(-50%,-50%);
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  
}

.typing .genera{
  color: rgb(14, 13, 13);
  font-size: 2em;
  font-family: 'Libre Baskerville', serif;
position: absolute;
top: 43%;
left: 50%;
-ms-transform: translate(-50%,-50%);
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
text-align: center;

  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
}
.typing .build {
  width: 0;
  animation:
    build 3s steps(20, end) 1000ms forwards;
    
}

.typing .genera {
  width: 0;
  animation: genera 3s steps(20, end) 4000ms forwards;
}
@keyframes build {
  
  
  to {
    width: 450px;
}
}

@keyframes genera {
 
  to {
    width: 550px;
  }
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
background-image: url("./main2.jpg");
width: 100%;
position: relative;
}

.cd-scrolling-bg {
  min-height: 100%;
}



.arrow{
  top: 85%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  border-top: 1px solid #31353B;
  border-right: 1px solid #31353B;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  
}

.click-area{
  position: absolute;
  top: 80%;
  left: 45%;
  display: block;
  width: 100px;
  height: 100px;
}

.cd-container{
  display: flex;
}



.container-right{
  background-color: white;
  
}




h1,h2{
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-bottom: 90%;
  width: 100%;
  padding: 30px 0;
}

nav > a{
  text-decoration: none; 
  color: black;
}



.container-one header{
  margin: 0 5%;
  width: 90%;
}



section{
  width: 90%;
  padding-bottom: 2%;
  margin: auto;
}

p{
  width: 70%;
  margin: auto;
  line-height: 2em;
  margin-bottom: 2%;
}

footer{
  border-top: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.layouts{
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 auto;
  
}
.layouts > button{
  text-decoration: none; 
  color: black;
  border: 1px solid #000;
  background-color: lightgray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
  text-align: center;
  
}
#color1{
  background-color: #fff;
}
.layouts :hover {
  background-color: rgb(243, 243, 243);
  text-decoration-line: underline;
  transform: scale(1.01)
}
.hide{
  display: none;
}

/* ________preview 2______________ */


.container-header{
  display: flex;
  flex-direction: row;
}


.navigering{
  justify-content: space-around;
  padding: 40px 0;
  border-bottom:  none;

}





/* _________preview 3_________ */
.container-three{
  width: 90%;
  margin: 0 auto;
}

#nav3{
  order: -1;
}

.container-three footer{
  width: 100%;
}



#header3{
  display: flex;
  text-align: center;
}

#main3{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.container3{
  width: 50%;
}
#container-pictures{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
}




/*Victor*/

.fas{
  width: 5px;
  display: inline-block;
  margin-right: 20px;
}

.container-left{
  border-right: 1px solid black;
  background-color: white;
  width: 164px;
  padding: 20px;
}


button{
    outline: 1px solid black;
    color: whitesmoke;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    }
    .super{

      width: 95%;
      background-color: #31353B;
      font-size: 14px;
    }
    .heads{
      width: 95px;
      background-color: #7E7B83;
      font-size: 10px;
      text-align: center;
      color: whitesmoke;
    }
    .subs{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 95px;
    font-size: 10px;
    text-align: center;
    }
    .text-subs{
    background-color: rgb(194, 191, 191);
      color: rgb(71, 70, 70);
      font-family: Arial, Helvetica, sans-serif;
      width: 95px;
     
      font-size: 12px;
      text-align: center;
    }

    .text-head-plain{
      background-color: rgb(65, 63, 63);
        color: rgb(252, 248, 248);
        font-family: Arial, Helvetica, sans-serif;
        width: 95px;
       
        font-size: 12px;
        text-align: center;
    }



  .hide{
    display: hidden;
  }
  .knappar{
    display: none;
  }
  .show{
    display: block;
  }


  /* Download-knappar */


.download{
margin-top: 50px;
width: 100px;
}
  .save,.reset{
    width: 100px;
    background-color: green;
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
    /* float: left; */
  }

  .reset{
    background-color: rgb(196, 132, 50);
  }
  
  /* radio-knappar */
  
  .radios {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 12px;
    
  }
    
  
  .radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .nyknapp {
    position: absolute;
    top: 0;
    left: 10px;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 100%;
  }
  
  .radios:hover input ~ .nyknapp {
    background-color: lightblue;
  }
  
  .radios input:checked ~ .nyknapp {
    background-color: rebeccapurple;
  }

  .nyknapp:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radios input:checked ~ .nyknapp:after {
    display: block;
  }
  
  .radios .nyknapp:after {
    top: 4px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: white;
  }